---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
// padding : TOP RIGHT BOTTOM LEFT

---

<Layout>

	<div class= "header">
		<div class="centered">
			<h1 style="padding-bottom: 15px;">D'Innocenzio Fabio</h1><h4>Self-taught artist</h4>
		</div>
		<div class="centered" style="display:flex; justify-content: flex-end; align-items: center;">
			<a href="#img">Artworks</a>
			<a href="#anim">Animations</a>
		</div>
	</div>
	<div id="img">
		<hr />
		<div class="title">
			<h1 style="padding: 30px;" >Gallery</h1>
		</div>
		<div class="container container-image">
	
			<div class="tile">
				<a href="./img/art/Fox1.png" 
				data-pswp-width="3508" 
      			data-pswp-height="2480" 
      			target="_blank">
					<img src= "./img/art/Fox1.png">
				</a>
			</div>
	
			<div class="tile">
				<a href="./img/art/Fox2.png"
				data-pswp-width="3500" 
      			data-pswp-height="2480" 
      			target="_blank">
					<img src= "./img/art/Fox2.png">
				</a>
			</div>
	
			<div class="tile">
				<a href="./img/art/Fox3.png"
				data-pswp-width="3508" 
      			data-pswp-height="2480" 
      			target="_blank">
					<img src= "./img/art/Fox3.png">
				</a>
			</div>
	
			<div class="tile">
				<a href="./img/art/Fox4.png"
				data-pswp-width="3508" 
      			data-pswp-height="2480" 
      			target="_blank">
					<img src= "./img/art/Fox4.png">
				</a>
			</div>
	
			<div class="tile">
				<a href="./img/art/SLD7.png"
				data-pswp-width="3508" 
      			data-pswp-height="2480" 
      			target="_blank">
					<img src= "./img/art/SLD7.png">
				</a>
			</div>
	
			<div class="tile">
				<a href="./img/art/Syrup7.png"
				data-pswp-width="3508" 
      			data-pswp-height="2480" 
      			target="_blank">
					<img src= "./img/art/Syrup7.png">
				</a>
			</div>
	
			<div class="tile">
				<a href="./img/art/Syrup1.png"
				data-pswp-width="3508" 
      			data-pswp-height="2480" 
      			target="_blank">
					<img src= "./img/art/Syrup1.png">
				</a>
			</div>
	
			<div class="tile">
				<a href="./img/art/womensday.png"
				data-pswp-width="3508" 
      			data-pswp-height="2480" 
      			target="_blank">
					<img src= "./img/art/womensday.png">
				</a>
			</div>
	
			<div class="tile">
				<a href="./img/art/Valentine2024.png"
				data-pswp-width="1754" 
      			data-pswp-height="1240" 
      			target="_blank">
					<img src= "./img/art/Valentine2024.png">
				</a>
			</div>
	
			<div class="tile">
				<a href="./img/art/Orphanage.png"
				data-pswp-width="3508" 
      			data-pswp-height="2480" 
      			target="_blank">
					<img src= "./img/art/Orphanage.png">
				</a>
			</div>
			<div class="tile">
				<a href="./img/art/Anon_fang_hug.png"
				data-pswp-width="3508" 
      			data-pswp-height="2480" 
      			target="_blank">
					<img src= "./img/art/Anon_fang_hug.png">
				</a>
			</div>
			<div class="tile">
				<a href="./img/art/Freedom.png"
				data-pswp-width="3508" 
      			data-pswp-height="2480" 
      			target="_blank">
					<img src= "./img/art/Freedom.png">
				</a>
			</div>
			<div class="tile">
				<a href="./img/art/SLD1.png"
				data-pswp-width="2480" 
      			data-pswp-height="3508" 
      			target="_blank">
					<img src= "./img/art/SLD1.png">
				</a>
			</div>
			<div class="tile">
				<a href="./img/art/SLD2.png"
				data-pswp-width="2480" 
      			data-pswp-height="3508" 
      			target="_blank">
					<img src= "./img/art/SLD2.png">
				</a>
			</div>
			<div class="tile">
				<a href="./img/art/Ushio.png"
				data-pswp-width="2480" 
      			data-pswp-height="3508" 
      			target="_blank">
					<img src= "./img/art/Ushio.png">
				</a>
			</div>
			<div class="tile">
				<a href="./img/art/Adine_free_flight.png"
				data-pswp-width="2480" 
      			data-pswp-height="3508" 
      			target="_blank">
					<img src= "./img/art/Adine_free_flight.png">
				</a>
			</div>
			<div class="tile">
				<a href="./img/art/encounter.png"
				data-pswp-width="2480" 
      			data-pswp-height="3508" 
      			target="_blank">
					<img src= "./img/art/encounter.png">
				</a>
			</div>
		</div>
	</div>
	<hr />
	<div id="anim">
		<div class="title">
			<h1 style="padding: 30px;">Animations</h1>
		</div>
		<div class="container container-animation">
			<div class="tile">
				<video controls>
					<source src="./img/anim/Awsw project SCENE1-9.mp4" type="video/mp4">
				</video>
			</div>
			<div class="tile">
				<video  controls>
					<source src="./img/anim/Awsw project SCENE2-6.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
	<hr />
	<div class="title">
		<h2>Disclaimer</h2>
		<h4>Most of these characters do not belong to me, but they are from people I look up to.</h4>
	</div>
</Layout>

<style>
	h1,h2,h3,h4{
		color: white;
		margin:0;
	}
	a{
		color: white;
	}
	a:hover{
		color: aqua;
	}
	.title{
		background-color: rgb(23, 24, 24);
	}
	.centered{
		width: 50%;
		gap: 8px;
	}
	.container{
		display:grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 1rem;
	}
	@media (min-width:1920px){
		.container{
			grid-template-columns: repeat(17, 1fr);
		}
    }
	@media(max-width:576px){
		.container{
        	display: block;
    	}
    	.tile{
        	margin-bottom: 1rem;
    	}
	}
	.header{
		padding: 20px 50px 30px 50px; 
		justify-content: space-between;
		display: flex;
	}
	.tile, img, video{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.container-image .tile:nth-child(1),
	.container-image .tile:nth-child(2),
	.container-image .tile:nth-child(3),
	.container-image .tile:nth-child(4),
	.container-image .tile:nth-child(5),
	.container-image .tile:nth-child(6),
	.container-image .tile:nth-child(7),
	.container-image .tile:nth-child(8),
	.container-image .tile:nth-child(9),
	.container-image .tile:nth-child(10),
	.container-image .tile:nth-child(11){
		grid-column: span 4;
		grid-row: span 2;
	}

	.container-image .tile:nth-child(12),
	.container-image .tile:nth-child(13),
	.container-image .tile:nth-child(14),
	.container-image .tile:nth-child(15),
	.container-image .tile:nth-child(16),
	.container-image .tile:nth-child(17){
		grid-column: span 2;
		grid-row: span 2;
	}

	.container-animation .tile:nth-child(1){
		grid-column: span 6;
		grid-row: span 1;
	}
	.container-animation .tile:nth-child(2){
		grid-column: span 3;
		grid-row: span 1;
	}
</style>
